elpa/
*~
straight/build/
straight/repos/
straight/modified/
history
projectile-bookmarks.eld
projectile.cache
recentf
.lsp-session-v1
ido.last
straight/build-cache.el
.DS_Store
eslint-plugin
transient/
forge-database.sqlite